#analyze {
    margin: 0;
    height: calc(100vh - 68px);
}

#message {
    display: none;
}

#footer {
    display: block;
}

#application-molstar {
    position: absolute;
    bottom: 0;
    height: 70vh;
}

#application-rcsb {
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    height: calc(30vh - 68px);
}

#application-rcsb::-webkit-scrollbar {
    height: 5px;    /* horizontal scrollbar */
    width: 5px;     /* vertical scrollbar */
}

#application-rcsb::-webkit-scrollbar-track {   
    background: #f1f1f1;
}

#application-rcsb::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#application-rcsb::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#pocket-list-aside {
    height: 100%;
}

@media (max-width: 767px) {
    #application-rcsb {
        height: auto;
        padding-bottom: 10%; /* to ensure there is at least some space for horizontal scrolling */
    }

    #analyze {
        position: relative;
        height: auto;
    }

    #application-molstar {
        position: relative;
        bottom: auto;
    }
}

/* Set for Bootstrap md breakpoint. */
@media (min-width: 768px) {
    #pocket-list-aside {
        overflow-y: scroll;
    }
}

#sequence-view {
    user-select: none;
}

.btn.btn-predicted {
    color: #6c757d;
    border-color: #6c757d;
    background-color: #fff3cd;
}

.btn.btn-predicted:hover {
    color: #fff3cd;
    background-color: #6c757d;
    border-color: #6c757d;
}

.card-body.predicted {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

/* Bootstrap updates to make the view more compact. */

.card .card-header {
    padding: 0.2rem 0.5rem 0 0.5rem;
}

.card .card-body {
    padding: 0.5rem 1rem;
}