.msp-btn-icon[title="Toggle Expanded Viewport"] {
    display: none;
}

#analyze {
  background: white !important;
}

.fullscreen-button {
  font-size: 20px;
}

body {
  background: white;
}
.fullscreen-button {
  position: absolute;
  z-index: 100;
  bottom:  5px;
  right:  5px;
  background: rgba(0,0,0,0.05);
  border:  0;
  width:  40px;
  height:  40px;
  border-radius: 50%;
  box-sizing: border-box;
  transition:  transform .3s;
  font-size: 0;
  opacity: 1;
  pointer-events: auto;
  cursor:  pointer;
}
.fullscreen-button:hover {
  transform: scale(1.125);
}

/* Dark Style
------------------------------*/
[light-mode=dark] {
  background: #111;
  color:  #fff;
}
[light-mode=dark] .fullscreen-button {
  background: rgba(255,255,255,.05);
}