<div class="text-center">
  <img src="./assets/images/logo-elixir.png">
  <br/>
  <p>
    PrankWeb is a part of services provided by ELIXIR – European research
    infrastructure for biological information. <br>
    See 
    <a href="https://www.elixir-czech.cz/services" target="_blank">services</a>
    provided by
    <a href="https://www.elixir-czech.cz/" target="_blank">ELIXIR's Czech Republic Node</a>.
  </p>
  <div>
    <a href="./terms">Terms of use</a>
    |
    <a href="./privacy">Privacy</a>
  </div>
  This website is free and open to all users and there is no login requirement.
  <p>
    <small>
      &copy; PrankWeb, Charles University 2017-
      <script>document.write(new Date().getFullYear());</script>
    </small>
  </p>
</div>
